.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.user-container {
  width: 100%;
}

.list-heading {
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding: 40px;
  background-color: rgb(237, 234, 234);
  border-bottom: 1px solid lightgray;
}

.userItem-container {
  display: flex;
  align-items: center;
  padding: 25px;
  border-bottom: 1px solid lightgray;
}

.user-avatar {
  border-radius: 50%;
}

.user-name {
  padding-left: 30px;
  padding-right: 100px;
}

.end-message {
  font-weight: bold;
  text-align: center;
}

.loading-message {
  margin: 10px 0px;
}

/** Loading Component **/
@keyframes signal1 {
  from {
    height: 50px;
    width: 50px;
  }

  to {
    height: 80px;
    width: 80px;
  }
}

@keyframes signal2 {
  from {
    height: 80px;
    width: 80px;
  }

  to {
    height: 100px;
    width: 100px;
  }
}

.loader-container {
  display: flex;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 50%;
}

.loader-0 {
  width: 20px;
  height: 20px;
  background-color: #7fb900;
}

.loader-1 {
  width: 50px;
  height: 50px;
  background-color: #d0e5a3;
  animation: signal1 2s linear infinite;
}

.loader-2 {
  width: 100px;
  height: 100px;
  background-color: #e5f1cc;
  animation: signal2 2s linear infinite;
}
